<ul>
  <li><%= link_to "Edit Convention Groups", :controller => "convention_groups" %></li>
  <li><%= link_to "Edit Conventions", :controller => "conventions" %></li>
  <li><%= link_to "Enter Convention Data", :controller => "data_entry", :action => "show" %></li>
</ul>